.blue{
	color: blue;
}
.red{
	color: red;
}
.green{
	color: green;
}
.yellow{
	color: yellow;
}
.purple{
	color: purple;
}
.orange{
	color: orange;
}
.pink{
	color: pink;
}
.teal{
	color: #ccffcc;
}
.brown{
	color: brown;
}
.skyblue{
	color: skyblue;
}
.lightgreen{
	color: #ccff33;
}
.lightpurple{
	color: #cc66ff;
}
.darkgreen{
	color: #99cc33;
}
.black{
	color: black;
}
.darkpink{
	color: #ff3399;
}